*.class
target
/bin/
.settings/
.project
.classpath

.env
*.log

fragen*.xlsx
bewertung*.xlsx

# Vagrant
.vagrant/
vagrant

# Emacs
*~

# Visual Studio Code
.factorypath

# vi
*.swp

# Python env
env/
